body {
    background-image: url('img/fundo.jpeg');
    background-size: cover;
}
.form-container {
    max-width: 500px;
    padding: 1rem;
}

.form-container .logotipo {
	width: 100px;
	height: 60px;
	margin: auto;
	position: relative;
}